/* button */
/* 
  사용법 : 
  1) <script> :  import '@/assets/common.css'
  2) <template> : <button type="button" class="btn-reset btn-common" />

  - 공통 css btn-common
  - 초기화, 수정, 삭제 btn-white
  - 조회, 등록 btn-color
*/

.btn-common {
  width: 110px;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 0 5px;
  transition: all 0.3s;
}
.btn-white {
  background-color: #fff;
  border: 1px solid #ddd;
}
.btn-white:hover {
  background-color: #eee;
}
.btn-color {
  background-color: #213555;
  color: #fff;
}
.btn-color:hover {
  background-color: #3e5879;
}

/* 다크 모드 감지 */
@media (prefers-color-scheme: dark) {
  .btn-color {
    color: #fff;
  }
  .btn-white {
    color: #000;
  }
}

/* modal-container */
.modal-container {
  padding: 8px 10px;
}
.btn-common-modal {
  width: 80px;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 16px;
  margin: 0 3px;
}

/* radio button color */
:root {
  --p-radiobutton-checked-background: #213555 !important;
  --p-radiobutton-checked-border-color: #213555 !important;
  --p-radiobutton-checked-hover-background: #213555 !important;
  --p-datatable-row-toggle-button-selected-hover-color: #213555 !important;
  --p-button-link-hover-color: #213555 !important;
  --p-button-link-active-color: #213555 !important;
  --p-radiobutton-hover-border-color: #213555 !important;
  --p-form-field-hover-border-color: #213555 !important;
  --p-radiobutton-focus-border-color: #213555 !important;
  --p-datatable-filter-constraint-selected-color: #213555 !important;
  --p-datatable-filter-constraint-selected-focus-color: #213555 !important;
  --p-datatable-row-toggle-button-selected-hover-color: #213555 !important;
}
